####################
#    LOGGER ENV    #
####################
# "fatal" | "error" | "warn" | "info" | "debug" | "trace" | "silent"
LOG_LEVEL="debug"
# Use pino-pretty. Variants: true | false
LOG_PRETTY=true

####################
#   Telegram ENV   #
####################
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
TELEGRAM_TOPIC_ID=""

####################
#   Cron ENV       #
####################
CRON_JOB_TIME="0 0-23/8 * * *" # every 8h
